PAYLOAD_SECRET=your-secret-key-here
DATABASE_URL=mongodb+srv://user:pass@cluster.mongodb.net/dbname

# Redis (Docker – see docker-compose.yml)
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT

NEXT_PUBLIC_FRONTEND_URL=NEXT_PUBLIC_FRONTEND_URL